{% extends '@SOPlatform/layout.html.twig' %}

{% block body %}

<h1>Oups la page que vous demandez n'existe pas </h1>

<h2>Ou bien tout est cassé ?! </h2> 

<img class="img404" src="{{ asset('img/homer.jpg')}}" alt="homer simpson">

{% endblock body %}