{% extends '@SOPlatform/layout.html.twig' %}

{% block body %}

    <h1>Oops! Il semblerait qu'il y ait une erreur !! </h1>
    <h2>Le serveur a retourner l'erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock body %}