{% extends '@SOPlatform/layout.html.twig' %}

{% block body %}

<h1> Accès refusé </h1>
<h2> Ceci est une erreur 403 ce qui signifie que vous n'avez pas l'autorisation d'accéder à cette page, bande de petits pirates </h2>

<img class="img404" src="{{ asset('img/kang403.png')}}" alt="kang simpson">

{% endblock body %}