<!DOCTYPE html>
<html>
	<head>
		<title>SONDAGE ONE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS Vendor -->
		<link rel="icon" type="image/png" href="{{ asset('img/favicon-16x16.png')}}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"> 
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<!-- CSS Perso -->
		
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}" media="screen" />
	</head>
	<body>
		<!--HEADER-->
		<header>
        {{ render(controller('SOPlatformBundle:Index:headernav')) }}
        </header>

        {% block body %}
        {% endblock %}
        <footer>
            {{ render(controller('SOPlatformBundle:Index:footernav')) }}
		</footer>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108096502-3"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-108096502-3');
		</script>
	</body>
</html>
